@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

.hour {
    font-family: Roboto;
    float: left;
    font-size: 13pt;
    padding: 13px 0 0 16px;
    font-weight: bold;
}

#batt {
    float: right;
    width: 30px;
    padding: 10px 12px 0 0;
}

#signal {
    float: right;
    width: 18px;
    padding: 15px 4px 0 0;
}

#wifi {
    float: right;
    width: 18px;
    padding: 15px 3px 0 0;
}

.mhead {
    position: relative;
    width: 60%;
    font-size: 1.2rem;
    min-height: 42px;
    top: -10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0 0 0 0;
    color: #FFF;
}

.mhead-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    color: #FFF;
    text-decoration: none;
}

.day {
    font-size: 18pt;
    font-weight: medium;
}
