.phone {
    width: 440px;
    height: 750px;
    background-color: papayawhip;
    border-radius: 70px;
    border: 15px solid black;
    text-align: center;
    padding: 0 10px 20px 20px;
}

.todoListMain .header input {
    padding: 10px;
    font-size: 18px;
    border: 2px solid #0066FF;
    width: 250px;
}

.todoListMain .header button {
    padding: 10px;
    font-family: Roboto;
    font-size: 18px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}

.todoListMain .header button:hover {
    background-color: #0066FF;
    border: 2px solid #0066FF;
    font-family: Roboto;
    color: #FFF;
    cursor: pointer;
}

.todoListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 400px;
    text-align: left;
    display: inline-block;
}

.todoListMain .theList li {
    font-family: Roboto;
    font-size: 13pt;
    color: #333;
    background-color: skyblue;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    list-style: inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.todoListMain .theList li:hover {
    background-color: pink;
    cursor: pointer;
}

ul.theList {
    padding: 0;
    display: inline-table;
}